*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.links{
  margin: 20px 0px;
}
.logoimage{
  width: 100px;
  height: auto;
  border-radius: 30px;
}

.nav-link:hover{
  color: green;
  

}
.nav-item a{
  color: white;
  font-size: larger;
}
.nav-item a:hover{
  color:rgb(231, 36, 94);
}

  
.container{
    height: auto;
}
main{
  background-color: rgb(255, 255, 255);
}
footer{
  display: flex;
  justify-content: right;
  align-items: center;
  color: rgb(177, 181, 184);
  border-top: 2px solid ;
  width: 100vw;
  padding: 10px 15px 5px 0px;
}
@media screen and (max-width: 700px) {
.container{
  width: 80%;
}
body{
  background-color: white;
}
footer{
  font-size: xx-small;
}

}