*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.links{
  margin: 20px 0px;
}
.logoimage{
  width: 100px;
  height: auto;
  border-radius: 30px;
}

.nav-link:hover{
  color: green;
  

}
.nav-item a{
  color: white;
  font-size: larger;
}
.nav-item a:hover{
  color:rgb(231, 36, 94);
}
footer{
  display: flex;
  justify-content: right;
  align-items: center;
  color: rgb(177, 181, 184);
  border-top: 2px solid ;
  width: 100vw;
  padding: 10px 30px 5px 0px;
}
  